html,
input,
select,
textarea {
    font-family: 'Montserrat', sans-serif;
}

.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.hotsite {
    background-image: url(../img/bg.jpg);
}

hr {
    height: 30px;
}

nav {
    z-index: 9;
    padding: 0.8em 0;
}

.nav-act,
.btn-prim {
    background-image: linear-gradient(45deg, rgba(115, 51, 112, 1), rgba(183, 234, 191, 1));
    color: #fff;
}

.bg-gradient {
    background-image: linear-gradient(45deg, rgba(115, 51, 112, .9), rgba(183, 234, 191, .9));
    color: #fff;
    position: relative;
}

header .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header img {
    width: 100px;
}

section {
    padding: 2em 0;
}

.interna {
    padding-top: 4.5em;
    padding-bottom: 0;
}

footer {
    background: #222;
    color: #fff;
    padding: 2em 0;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 2em;
    color: rgba(183, 234, 191, 1);
}

.menu-item {
    font-size: .8em;
    text-transform: uppercase;
    margin-left: 20px;
    color: #fff;
    margin-top: 5px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    line-height: 1.2em;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    position: relative;
    z-index: 0;
    margin-bottom: 2em;
}

h2:before {
    content: '';
    background: rgba(183, 234, 191, 1);
    width: 200px;
    height: 20px;
    display: inline-block;
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}

h3 {
    font-size: 1.2em;
    margin-top: 0;
}

h1,
p {
    max-width: 520px;
    margin: 20px auto;
    padding: 0 20px;
}

.btn-prim {
    font-weight: 900;
}

.btn-sec {
    background: #fff;
    color: rgba(115, 51, 112, 1);
    font-weight: 900;

}

.btn-ter {
    color: #fff;
    border: 1px solid;
}

.icon-vantagens {
    width: 100px;
}

.icon-tutorial {
    width: 70px;
    float: left;
    margin-top: 13px;
}

.icon-ok {
    width: 20px;
    vertical-align: middle;
}

.tutorial {
    background: rgba(115, 51, 112, 1);
    color: #fff;
    font-size: .9em;
    line-height: 1.2em;
    width: calc(100% - 80px);
    float: right;
    position: relative;
    border-radius: 10px;
    padding: 20px;
}

.tutorial:before {
    content: '';
    background: rgba(115, 51, 112, 1);
    width: 10px;
    height: 10px;
    position: absolute;
    top: 45%;
    left: -5px;
    transform: rotate(45deg);
}

.link-prim,
.link-sec {
    font-size: .8em;
    font-weight: 900;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 2em;
}

.link-prim,
select {
    color: rgba(115, 51, 112, 1);
    border-color: rgba(115, 51, 112, 1);
}

.link-sec {
    color: #000;
}

input {
    border: 0;
    margin-bottom: 10px;
}

input[type="file"] {
    display: none;
}

.input-titulo {
    font-size: 2em;
}

.input-titulo,
.input-desc {
    width: 100%;
}

.bg-g {
    background: #eaeaea;
}

.bg-b-90 {
    background: rgba(0, 0, 0, .8);
    padding: 3em 0;
}

.lista-item {
    margin-bottom: 20px;
}

.lista-item li {
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    margin: 10px 0;
}

.lista-item input:disabled {
    background: transparent;
    color: rgba(115, 51, 112, 1);
}

.item-cima {
    border-radius: 10px 10px 0 0;
}

.item-cima input[type="text"] {
    width: 100%;
    font-size: 1em;
    margin: 0;
}

.item-cima input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.container input:checked ~ .checkmark,
.chk {
    background-color: rgba(115, 51, 112, 1);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after,
.chk:after{
    display: block;
}

.container .checkmark:after,
.chk:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.item-cima label {
    cursor: pointer;
}

.item-cima .float-left {
    width: calc(100% - 90px);
}

.item-cima .link-sec {
    margin: 0;
}

.excluir,
.status {
    width: 20px;
    display: inline-grid;
}

.status {
    margin-right: 10px;
}

.excluir {
    margin-left: 10px;
}

.item-baixo {
    border-radius: 0 0 10px 10px;
    font-size: 12px;
}

.item-baixo input {
    background: #eaeaea;
    color: #555;
    margin: 0;
    font-size: 12px;
}

.item-baixo .float-right {
    width: calc(100% - 100px);
}

.item-baixo input[type="number"] {
    width: 40px;
}

.item-baixo input[type="text"] {
    width: calc(100% - 50px);
}

.add-item {
    background: rgba(115, 51, 112, 1);
    color: #fff;
    margin-top: 10px;
}

.add-item,
select {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 2em;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 768px) {
    h1 {
        font-size: 2em;
        line-height: 1.2em;
    }

    h2:before {
        top: 10px;
    }

    .interna {
        padding-top: 4em;
    }

    .checkmark {
        height: 20px;
        width: 20px;
    }

    .container .checkmark:after {
        left: 7px;
        top: 5px;
        width: 3px;
        height: 5px;
    }
}
